<div class="row">
    <div class="col">
        <h1 class="center">Edit Recipe</h1>
    </div>
</div>
<%= render 'form', recipe: @recipe %>
<div class="row">
    <div class="col">
        <p class="links"><%= link_to 'Show', @recipe %> |
        <%= link_to 'Back', recipes_path %></p>
    </div>
</div>
