<div class="row">
    <div class="col">
        <h1 class="center">About Scoot's House of Recipes</h1>'
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="center" style="font-size: 1.2rem;"><i>Scoot's House of Recipes</i> is a recipe sharing application made by Benjamin Scott Collins for TECM 4400 in the Spring 2020 semester.
        It doesn't look exactly the way he wants it to, but he tried really hard and all of the transitions are pretty nice.
        Visit the <%= link_to "Home", root_path %> Page to add and edit your own recipes!</p>
    </div>
</div>