@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Covered+By+Your+Grace&display=swap');

body {
    background-color: rgb(157, 199, 224);
}

.form-group {
    padding-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Covered By Your Grace', Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5px;
    padding-top: 10px;
}

.navbar-brand {
    font-family: 'Covered By Your Grace', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

nav {
    border-bottom: rgb(0, 100, 158) 2px solid;
}

img.recipe-show {
    width: auto;
    height: 250px;
    align-content: center;
    border-radius: 5pt;
    padding-top: 10px;
    box-shadow: 10px 10px 5px #7badafaf;
}

.ingredients li, .steps li {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.recipe-box {
    height: 500px;
    position: relative;
    box-shadow: 10px 10px 5px #7badafaf;
    background: #c1d8eb;
    margin-bottom: 20px;
    transition: all ease .5s;
}

.recipe-box:hover {
    transform: scale(1.02);
    background: #76aac2;
    box-shadow: 10px 10px 5px #689294cc;
    transition: all ease .5s;
}

img.recipe-index {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.recipe-box ul {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    list-style-type: none;
    position: absolute;
    bottom: 0;
}

.recipe-box li:first-child {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 45px;
    font-style: oblique;
}

.navbar-toggler {
    background-image: url("arrow_button.png");
    background-repeat: no-repeat;
    height: 50px;
    width:auto;
    border: none;
    transition: all ease .75s;
}

.navbar-toggler:hover {
    transform: scale(1.1);
}

.navbar-toggler:focus {
    transform: rotate(180deg);
    transition: all ease .75s;
}

.col-4 {
    position: relative;
    left: 0rem;
    padding: 0px;
}

.links {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgb(0, 100, 158);
    font-size: 1.2rem;
    font-weight: 900;
    position: relative;
    top: 10px;
    transition: all ease .5s;
    text-align: center;
    align-content: center;
}

.links:hover {
    font-weight: 1200;
    transform: scale(1.05);
    transition: all ease .5s;
    text-decoration: none;
    text-shadow: 1px 1px 0px #666565;
}

a {
    transition: all ease .5s;
    color: rgb(0, 100, 158);
}

a:hover {
    font-weight: 1200;
    transform: scale(1.05);
    transition: all ease .5s;
    text-decoration: none;
    text-shadow: 1px 1px 0px #666565;
}

.rec-links {
    color: rgb(0, 100, 158);
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    transition: all ease .5s;
}

.rec-links:hover {
    font-weight: 1200;
    transform: scale(1.05);
    transition: all ease .5s;
    text-decoration: none;
    text-shadow: 1px 1px 0px #666565;
}

div.image {
    align-content: center;
    text-align: center;
    padding-bottom: 15px;
}

.center {
    text-align: center;
    align-content: center;
}

#offset {
    position: relative;
    left: 32px;
}

.button {
    position: relative;
    top: 12px;
    bottom: 20px;
    margin-bottom: 10px;
    transition: all ease .5s;
    background-color: whitesmoke;
    border: 2px solid rgb(70, 150, 197);
}

.button:hover {
    transition: all ease .5s;
    background-color: rgb(70, 150, 197);
    box-shadow: 2px 2px 1px rgb(102, 102, 102);
    transform: scale(1.02)
}

.nav-item {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgb(0, 100, 158);
    font-size: 1.2rem;
    font-weight: 900;
    transition: all ease .5s;
    padding-top: 1rem;
}

.nav-item:hover {
    font-weight: 1200;
    transform: scale(1.02);
    transform-origin: center;
    transition: all ease .5s;
    text-decoration: none;
    text-shadow: 1px 1px 0px #666565;
}

.row {
    padding-top: .5rem;
    padding-bottom: .5rem;
}